---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in coding %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}

<h2>Bioinformatics</h2>

<h3><a href="https://wguesdon.github.io//coding/project-1/">B cells repertoire analysis of SLE Patients</a></h3>
<h3><a href="https://wguesdon.github.io//coding/project-2/">10x Genomics: identify cells subsets</a></h3>
<h3><a href="https://wguesdon.github.io//coding/project-3/">Predicting Heart Disease Risk with Random Forest</a></h3>
<h3><a href="https://wguesdon.github.io//coding/project-6/">Stroke prevention: clustering and risks factors identification</a></h3>

<h2>Data science</h2>

<h3><a href="https://wguesdon.github.io//coding/project-4/">NYC Airbnb: house price prediction</a></h3>
<h3><a href="https://wguesdon.github.io//coding/project-5/">Melbourne Housing Market: Multiple Linear Regression
Abstract</a></h3>

<h2>R</h2>

<h3><a href="https://wguesdon.github.io//coding/project-1/">B cells repertoire analysis of SLE Patients</a></h3>
<h3><a href="https://wguesdon.github.io//coding/project-2/">10x Genomics: identify cells subsets</a></h3>
<h3><a href="https://wguesdon.github.io//coding/project-3/">Predicting Heart Disease Risk with Random Forest</a></h3>
<h3><a href="https://wguesdon.github.io//coding/project-6/">Stroke prevention: clustering and risks factors identification</a></h3>

<h2>Python</h2>

<h3><a href="https://wguesdon.github.io//coding/project-4/">NYC Airbnb: house price prediction</a></h3>
<h3><a href="https://wguesdon.github.io//coding/project-5/">Melbourne Housing Market: Multiple Linear Regression
Abstract</a></h3>